body{
  background: navajowhite;
  background-size: cover;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #F9F7F7;
  background: linear-gradient(to top left, #66ffff 0%, #ff99cc 100%);
}

#logo{

    width: 350px;
    border-radius: 30%;
    position: relative;
    right: 50px;
    text-align: center;
    margin-top: 20px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

.container1{
  display: inline-block;
}
.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 0.4s steps(8, end) forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: orange; }
}

.center {
    text-align: center;
}

#background-pic {
    width: 100%;
    position: relative;
    bottom: 100px;
}

#profile-pic {
    width: 350px;
    border-radius: 50%;
    position: relative;
    right: 50px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.intro {
    margin-top: 30px;
    background-color: #DBE2EF;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
}

.margin-20{
    margin: 20px;
}
.margin-10{
    margin: 10px;
}

.box-shadow {
      font-family: 'Trebuchet MS', sans-serif;
      background-color: #A6E3E9;
      color: black;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 2px 2px 20px 23px #CBF1F5;
    }

.red{
    background-color: red;
}