<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" href="../static/master/styles.css">
</head>
<body>
{% include 'header.html' %}

<div class="container">
    <div class="row">
        <h1>Hi, Everyone!</h1>
        <h1 class="max-font-size">I'm Ritesh<br>Pachangane</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col background-img center">
            <img src="../static/Images/aboutMe.png" alt="">
            <h3>I'm a <strong>Pro</strong>grammer</h3><br>
            <h4>I'm a Computer Science Student, studing in Mumbai University in India.</h4>
        </div>

        <div class="col">
            <!-- <h4>Hello, I am Ritesh Pachangane. I am a BSc Computer Science Student.</h4> -->
            <img class="full-pic border-yellow" src="../static/Images/riteshfull-pic.png" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>