<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ritesh's Portfolio</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../static/masterportfolio/styles.css">
</head>
<body>

{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col col-md-6 col-sm-12 col-12 intro">
            <div class="row">
                <div class="col col-md-6 col-sm-12 col-12 ">
                    <h1 class="margin-20 title-font-index">Hello,<br>I'm Ritesh</h1>
                    <h3 class="margin-20">A programmer.</h3><br>
                </div>
                <div class="col col-md-6 col-sm-12 col-12">
                    <img id='profile-pic' src="../static/Images/my-profile.png" alt="..">
                </div>
            </div>

            <p class="margin-10">I am Computer Science student, studying in Mumbai University in India.<br>
                I am very enthusiastic about technology and how it is helping people to save time and efforts.
                I chose to code because I wanted to add value to society and make myself a life-time learner.
                I learn to code using some online course, documentation and with the help of my friends.

            </p>
        </div>

        <div class="col col-md-6 col-sm-12 col-12 center">
            <img id='logo' src="../static/Images/homeLogo.png">
        </div>
    </div>
</div>


<div class="container margin-top center">
    <h1 class="title-font-index">My Skills</h1>
    <div class="row center">
        <div class="col-6 col-lg-3 col-md-6 col-sm-3">
            <img class="project11 margin-20" src="../static/Images/skills/python.png">
        </div>
        <div class="col-6 col-lg-3 col-md-6 col-sm-6">
            <img class="project11 margin-20" src="../static/Images/skills/flask.png">
        </div>
        <div class="col-6 col-lg-3 col-md-6 col-sm-6">
            <img class="project11 margin-20" src="../static/Images/skills/sql_alchemy.png">
        </div>
        <div class="col-6 col-lg-3 col-md-6 col-sm-6">
            <img class="project11 margin-20" src="../static/Images/skills/serenium.png">
        </div>
    </div6

    <div class="row center">
        <div class="col-6 col-lg-3 col-md-6 col-sm-6">
            <img class="project11 margin-20" src="../static/Images/skills/js.png">
        </div>
        <div class="col-6 col-lg-3 col-md-6 col-sm-6">
            <img class="project11 margin-20" src="../static/Images/skills/nodejs.png">
        </div>
        <div class="col-6 col-lg-3 col-md-6 col-sm-6">
            <img class="project11 margin-20" src="../static/Images/skills/react.png">
        </div>
        <div class="col-6 col-lg-3 col-md-6 col-sm-6">
            <img class="project11 margin-20" src="../static/Images/skills/mongodb.png">
        </div>
    </div>


</div>


<!-- My Skills  -->
<div class="container margin-top">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <h1> Project 01 </h1><br>
            <h3>This is a project infornmation.<br>
                I have made it through this technolgy.</h3>
        </div>

        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <img class="project11 border-green margin-side-5" src="../static/Images/my-profile.png" alt="">
            <img class="project12 border-red margin-side-5" src="../static/Images/my-profile.png" alt="">
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <img class="project2 border-yellow" src="../static/Images/Projects/blog.png" alt="">
        </div>

        <div class="col-12 col-lg-6 col-md-12 col-sm-12 margin-bottom">
            <h1> Project 02 </h1><br>
            <h3>This is a project infornmation.<br>
                I have made it through this technolgy.</h3>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <h1 class="margin-60">Project 03</h1>
            <img class="project2 border-red" src="../static/Images/Projects/tictactoe.png" alt="">
        </div>

        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <img class="project2 border-red" src="../static/Images/Projects/blog.png" alt="">
            <h3 class="margin-top">This is a project infornmation.<br>
                I have made it through this technolgy.</h3>
        </div>
    </div>
</div>

<!-- End of My Skills -->


<div class="container">
    <div class="row">
        <div class="col col-md-6 col-sm-12 col-12 center">
            <img class="pic" src="../static/Images/certificate.png">
        </div>

        <div class="col col-md-6 col-sm-12 col-12 cards">
            <h3 class="skill-content">Education: </h3>
            <ul class="skill-content">
                <li>
                    FyCS:
                    <ul>
                        <li>Sem2 : 9.7 CGPA</li>
                        <li>Sem1 : 9.3 CGPA</li>
                    </ul>
                </li>
                <li>HSC : 79.3 %</li>
                <li>SSC : 69.3 %</li>
            </ul>
        </div>
    </div>
</div>


<!-- Certificate Section for now -->

<div class="container center">
    <div class="row">

        <div class="row">
            <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                <img class="project2" src="../static/Images/certificate.png">
                The certificate infornmation<br>
                What have i learned
            </div>

            <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                <img class="project2" src="../static/Images/certificate.png">
                <br>
                The certificate infornmation
                <br>
                What have i learned
            </div>

        <div class="row">
            <div class="col-12">
                <img class="project3" src="../static/Images/certificate.png">
                The certificate infornmation<br>
                What have i learned
            </div>
        </div>

        </div>



    </div>
</div>


{% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
</html>