<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

{% include 'header.html' %}

<div class="container center">
  <h1 class="title-font">My Projects</h1>
</div>




<div class="container margin-60 center">
    <div class="row">
        <div class="col margin-top-20">
            <div class="card" style="width: 18rem;">
                <img src="../static/Images/Projects/blog.png" class="card-img-top" alt="...">
                <div class="card-body gradient">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    
        <div class='col margin-top-20'>
            <div class="card" style="width: 18rem;">
                <img src="../static/Images/Projects/drumkit.png" class="card-img-top" alt="...">
                <div class="card-body gradient">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    
        <div class="col margin-top-20">
            <div class="card" style="width: 18rem;">
                <img src="../static/Images/Projects/tictactoe.png" class="card-img-top" alt="...">
                <div class="card-body gradient">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    
    </div>
</div>







<div class="container-fluid margin-top">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
          <div class="col">
              <a href="#">  <img src="../static/Images/Projects/tictactoe.png" class="d-block w-100" alt="...">  </a>
          </div>
          <div class="col">
              <h1>Tic Tac Toe</h1>
              <h3>This a tic tac toe game.</h3><br>
              <p>I used flask to add functionality and basic html and css property to make this the structure and design.</p>
          </div>
      </div>
    </div>
    <div class="carousel-item">
        <div class="row">
          <div class="col">
              <a href="#">  <img src="../static/Images/Projects/blog.png" class="d-block w-100" alt="...">  </a>
          </div>
          <div class="col">
              <h1>Blog User</h1>
              <h3>It is a blogging website, where user can create a login id and can even post and comment.</h3><br>
              <p>I used flask to add functionality and html, css and bootstrap.</p>
          </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
          <div class="col">
              <a href="#">  <img src="../static/Images/Projects/tictactoe.png" class="d-block w-100" alt="...">  </a>
          </div>
          <div class="col">
              <h1>Tic Tac Toe</h1>
              <h3>This a tic tac toe game.</h3><br>
              <p>I used flask to add functionality and basic html and css property to make this the structure and design.</p>
          </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


{% include 'footer.html' %}

</body>
</html>